body {
  font-family: Arial, sans-serif;
}

.container {
  margin: 30px auto;
  width: 600px;
  padding: 10px 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
h1 {
  font-size: 24px;
  text-align: center;
  text-decoration: underline;
}
.row {
  margin-top: 25px;
}

#city-name {
  font-size: 24px;
  font-weight: 500;
}

#display-temp {
  position: relative;
  top: 10px;
  display: inline-block;
  font-size: 42px;
  font-weight: 500;
  color: black;
}

.footer {
  display: block;
  text-align: center;
}
a {
  text-decoration: none;
}
.city-weather {
  color: #878787;
}
.units {
  display: inline-block;
  position: relative;
  top: -14px;
}
.float-left {
  margin: 0;
}
.active {
  color: black;
}
